In [1]:
import os
import pandas as pd
import numpy as np

##### data directories

In [57]:
currDir = os.getcwd()
rootDir = os.path.abspath(os.path.join(currDir,'..'))

dataDir = os.path.abspath(os.path.join(rootDir,'data'))
rawDataDir = os.path.abspath(os.path.join(dataDir,'raw'))
interimDataDir = os.path.abspath(os.path.join(dataDir,'interim'))
finalDataDir = os.path.abspath(os.path.join(dataDir,'final'))
errorLog = os.path.abspath(os.path.join(dataDir,'error_log'))

#### read player bio data

In [3]:
file = f"{rawDataDir}/all_NBA_ABA_players.csv"
bios = pd.read_csv(file)

# keep a list of each player's unique identifier
index = bios['index'].values

print("No of distinct players:",bios['index'].nunique())

No of distinct players: 4800

##### aggregating scraped player data

In [83]:
#combine all files in the directory
files = os.listdir(rawDataDir)
files.sort()
files = files[2:]

df = pd.concat([pd.read_csv(f"{rawDataDir}/{f}") 
                  for f in files], sort = False)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True,inplace=True)

print(f"No of game logs: {df.shape[0]:,}")

No of game logs: 1,585,441

In [86]:
df[df['INDEX']=='henrysk01'].shape

(0, 37)

#### rent calcs

In [82]:
# expensive no fee 
1650*12

19800

In [81]:
# cheap w fee
1495*12 + 1500

19440

In [87]:
# more expensive no fee
1700*12

20400

##### identifying players whose data has not been scraped

In [89]:
not_scraped = [x for x in index if x not in df['INDEX'].values]

print("No. of players no scraped:",len(not_scraped))

No. of players no scraped: 25

In [90]:
# players in the error log
logger = f"{errorLog}/log.txt"

with open(logger,"r") as logs:
    lines = [[x.strip() for x in line.strip().split(',')] 
             for line in logs]

cols = ['index','name','reason']
error_df = pd.DataFrame(lines,columns=cols)
error_idx = error_df['index'].values

print(error_df['index'].nunique())

93

In [97]:
error_df['index'].unique()

array(['alexacl01', 'anigbik01', 'babbch01', 'bairsca01', 'bambamo01',
       'bembrde01', 'buyckdw01', 'cabocbr01', 'casspom01', 'cavanty01',
       'chiozch01', 'chrisra01', 'colsobo01', 'corleke01', 'dawsobr01',
       'derrima01', 'divindo01', 'diallha01', 'duvaltr01', 'edwarvi01',
       'feldeka01', 'frazimi01', 'fredeji01', 'gibsojo01', 'greendo01',
       'hamilju01', 'harprma01', 'hillida01', 'inglida01', 'jacksde01',
       'jacksfr01', 'jacksje01', 'jamesda01', 'jeffeam01', 'jeffeco01',
       'jerregr01', 'johnsal02', 'johnsbr02', 'josepkr01', 'karasse01',
       'kaunsa01', 'kellyry01', 'kingda01', 'ledori01', 'leeda03',
       'leonaga01', 'loydjo01', 'lucaska01', 'luwawti01', 'lydonty01',
       'mcculch01', 'mcgarmi01', 'mekelga01', 'melofa01', 'metuch01',
       'millequ01', 'mitrona01', 'mykhasv01', 'napolpa01', 'nolenpa01',
       'ohlbrti01', 'papagge01', 'pattoju01', 'paytoga02', 'portemi01',
       'poythal01', 'reedda01', 'reedwi02', 'ricegl02', 'richama01',
       'shengto01', 'singlch01', 'slatere01', 'stokeja01', 'stonedi01',
       'summeda01', 'tavarwa01', 'tayloje03', 'thomais01', 'trentga02',
       'varnaja01', 'walkefo01', 'walkebi01', 'walkeho01', 'wallage01',
       'princta02', 'waltobi01', 'waynsma01', 'whiteok01', 'whitero03',
       'whiteis01', 'whittsh01', 'willire02'], dtype=object)

In [99]:
df[df['INDEX']=='metuch01'].shape

(145, 37)

In [42]:
'''
to_scrape = list(error_idx) + not_scraped
to_scrape = [x for x in set(to_scrape)]
to_scrape.sort()

print(len(to_scrape))
'''

127

In [48]:
'''
pd.DataFrame(to_scrape,columns=['index']).to_csv(
    f"{interimDataDir}/error_indices.csv"
    ,index=False)
'''

In [95]:
not_scraped

['anderer01',
 'bowmair01',
 'brindau01',
 'carnebo01',
 'colonjo01',
 'corleke01',
 'dickehe01',
 'flemial01',
 'henrysk01',
 'jacksaa01',
 'jentch01',
 'johnstr01',
 'killuea01',
 'kingda01',
 'kitchcu01',
 'klotzhe01',
 'lowerch01',
 'mahonmo01',
 'napolpa01',
 'raikesh01',
 'rockge01',
 'stockda01',
 'widbyro01',
 'winklma01',
 'yonakri01']

In [94]:
bios[bios['index'].isin(not_scraped)]

,index,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
89,anderer01,Eric Anderson,1993,1994,F,6-9,220.0,"May 26, 1970",Indiana
429,bowmair01,Ira Bowman,2000,2002,G,6-5,195.0,"June 11, 1973","Providence, University of Pennsylvania"
488,brindau01,Aud Brindley,1947,1947,F,6-4,175.0,"December 31, 1923",Dartmouth College
662,carnebo01,Bob Carney,1955,1955,G,6-3,170.0,"August 3, 1932",Bradley
804,colonjo01,Joe Colone,1949,1949,F,6-5,210.0,"January 23, 1924",Bloomsburg University of Pennsylvania
850,corleke01,Ken Corley,1947,1947,C,6-5,210.0,"May 10, 1920",Central State College
1052,dickehe01,Henry Dickerson,1976,1977,G,6-4,190.0,"November 27, 1951",University of Charleston
1325,flemial01,Al Fleming,1978,1978,F,6-7,215.0,"April 5, 1954",Arizona
1826,henrysk01,Skeeter Henry,1994,1994,G,6-7,190.0,"December 8, 1967","Midland College, Oklahoma"
2021,jacksaa01,Aaron Jackson,2018,2018,G,6-4,185.0,"May 6, 1986",Duquesne
2095,jentch01,Chris Jent,1994,1997,F,6-7,220.0,"January 11, 1970",Ohio State
2170,johnstr01,Trey Johnson,2009,2012,G,6-5,218.0,"August 30, 1984","Alcorn State University, Jackson State University"
2316,killuea01,Earnie Killum,1971,1971,G,6-3,180.0,"June 11, 1948",Stetson University
2326,kingda01,Dan King,1955,1955,F,6-6,220.0,"January 7, 1931",Western Kentucky
2349,kitchcu01,Curtis Kitchen,1987,1987,F,6-9,235.0,"January 30, 1964",South Florida
2356,klotzhe01,Herm Klotz,1948,1948,G,5-7,150.0,"October 21, 1921",Villanova
2591,lowerch01,Charlie Lowery,1972,1972,G,6-3,185.0,"November 12, 1949",University of Puget Sound
2646,mahonmo01,Mo Mahoney,1953,1954,F,6-2,205.0,"November 20, 1927",Brown University
3080,napolpa01,Paul Napolitano,1949,1949,F-G,6-2,185.0,"February 3, 1923",San Francisco
3487,raikesh01,Sherwin Raiken,1953,1953,G,6-2,185.0,"October 29, 1928",Villanova
3648,rockge01,Gene Rock,1948,1948,G,5-9,155.0,"November 4, 1921",USC
4075,stockda01,David Stockton,2015,2018,G,5-11,165.0,"June 24, 1991",Gonzaga
4567,widbyro01,Ron Widby,1968,1968,F,6-4,210.0,"March 9, 1945",Tennessee
4702,winklma01,Marv Winkler,1971,1972,G,6-1,164.0,"February 18, 1948",LA-Lafayette
4767,yonakri01,Rich Yonakor,1982,1982,F,6-9,220.0,"October 3, 1958",UNC