In [1]:
import os
import pandas as pd
import numpy as np

#### data directories

In [2]:
currDir = os.getcwd()
rootDir = os.path.abspath(os.path.join(currDir,'..'))

dataDir = os.path.abspath(os.path.join(rootDir,'data'))
rawDataDir = os.path.abspath(os.path.join(dataDir,'raw'))
interimDataDir = os.path.abspath(os.path.join(dataDir,'interim'))
finalDataDir = os.path.abspath(os.path.join(dataDir,'final'))

#### read player bio data

In [5]:
file = f"{rawDataDir}/all_NBA_ABA_players.csv"
df = pd.read_csv(file)

print(df.shape)

(4800, 9)

In [6]:
df.head()

,index,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
0,abdelal01,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke
1,abdulza01,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State
2,abdulka01,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225.0,"April 16, 1947",UCLA
3,abdulma02,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",LSU
4,abdulta01,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974","Michigan, San Jose State"

In [7]:
df.tail()

,index,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
4795,zizican01,Ante Žižić,2018,2020,F-C,6-10,254.0,"January 4, 1997",NaN
4796,zoetji01,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4797,zopfbi01,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne
4798,zubaciv01,Ivica Zubac,2017,2020,C,7-0,240.0,"March 18, 1997",NaN
4799,zunicma01,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington

In [ ]:
|

#### begin scraping of bball reference

In [ ]:
from basketball_reference_scraper.players import get_stats, get_game_logs

In [ ]:
df = get_game_logs('LeBron James', '1900-01-01', '2020-12-31', playoffs=False)

print(df.shape)

In [ ]:
df.tail()